body{
    font-family: 'Poppins', sans-serif;
}
.imagen{
    margin-top: 300px;
}
.title1{
    
    color: #FF62C7;
}
.linea{

    font-size: 1vw;
    color: #000000;
}
.text{
    margin-top: 300px;
}
.text1{

    font-size: 2,0vw;  
}

.title2{
    color: #FF62C7;
    
}

.text2{

    font-size: 2,0vw;
}
