<div class="container md-5">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
            <div class="imagen text-center">
                <p-image src="assets/img/modelo 3.png" alt="Image" width="100%"></p-image>
            </div>
        </div>
        <div class="imagen-fondo col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="title1 text-center">
                    <h1>Sobre Nosotros</h1>
                </div>
                <div class="text1">
                    <p>
                        <span style= "font-family: 'Poppins', sans-serif; color: #c8622c; font-weight:bold;">Uniformes sys</span>
                          es una marca inspirada en las últimas tendencias de moda color, forma
                        e identidad única para cada profesional en su especialidad.
                        <br><br>

                        Promoviendo así el
                        <span style="font-family: 'Poppins', sans-serif; color: #FF26B2; font-weight:bold;">empoderamiento</span>
                         , 
                         <span style="font-family: 'Poppins', sans-serif; color: #2b44ff; font-weight:bold;">el confort</span>
                         y 
                         <span style="font-family: 'Poppins', sans-serif; color: #099853; font-weight:bold;">la seguridad</span>
                         para un ambiente de
                        trabajo más seguro y cómodo en su día a día, es por esto que trabajamos con textiles
                        tecnológicos diseñados especialmente para dar durabilidad y apariencia que exigen
                        los uniformes de hoy, garantizando el bienestar que merece cada profesional.
                    </p>
                </div><br><br>
                    <div class="title2 text-center">
                <h1>Nuestra Historia</h1>
            </div>
            <div class="text2">
                <p> Uniformes sys nace de una amistad de muchos años de dos fonoaudiólogas el cual
                    encontraron la necesidad desde su Rol de crear sus productos con su propio sello para
                    así poder lograr un ambiente de trabajo más bello, humanizado y creativo con la
                    tecnología más innovadora del momento.

                    <br>

                    “Entendemos lo difícil que puede ser elegir el uniforme que va acompañarte por tantas
                    horas es por esto que queremos que sientas que cada detalle es pensando en
                    exclusivamente para ti Con mucho amor y dedicación. “
                </p>
                
            </div>
            
        </div>
        
    </div>
</div>