<div class="container md-5">
    <div class="row">
        <div class="col-12">

            <h1 class="title1 text-center">Informacion General</h1><br>
            <!--             <div class="linea">
                <hr width=400px size=5 color="#FF0000">
            </div> -->
            <span class="text1">
                Para que tus productos Uniformes SyS siempre tengan la mejor apariencia,
                te hacemos las siguientes recomendaciones de uso y de limpieza
            </span>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="comp-one">
                <br>
                <div class="image-one">
                    <p-image src="assets/img/one.png"></p-image>
                </div>
                <br>
                1. Lavar a mano o en ciclo suave: esto hace que
                tu uniforme este mejor cuidado, y las fibras no
                sean sometidas a tensiones excesivas. No los
                mezcles con prendas que tengan cremalleras.
            </div>
            <br>
            <div class="comp-three">
                <br>
                <div class="image-three">
                    <p-image src="assets/img/three.png"></p-image>
                </div>
                <br>
                3. Evita el uso de blanqueadores: A no ser que
                sea una tela clororesistente, el cloro puede de
                colorarlo y debilitar el tejido.
            </div>

        </div><br>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="comp-two">
                <br>
                <div class="image-two">
                    <p-image src="assets/img/two.png"></p-image>
                </div>
                <br>
                2. No uses suavizantes: los suavizantes abren
                los tejidos, facilitando el debilitamiento del tex
                til y por ende el acabado antifluido.
                <br> <br>
            </div>
            <br>

            <div class="comp-four">
                <br>
                <div class="image-four">
                    <p-image src="assets/img/four.png"></p-image>
                </div>
                <br>
                4. Cuida la temperatura: Si vas a usar lavadora,
                no excedas los 30° C de temperatura y en la se
                cadora usa el ciclo suave.
                <br><br>
            </div>
            <br>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="comp-five">
                <br>
                <div class="image-five">
                    <p-image src="assets/img/five.png"></p-image>
                </div>
                <br>
                5. No los planches: Si lo que quieres es evitar la arrugas, asegúrate que la carga de la lavadora no
                exceda su
                capacidad recomendada y que una vez salga el uniforme lo sacudas para que se seque sin arrugas. ¡¡No los
                retuerzas!!
            </div>
        </div>
    </div>

</div>