<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-b-90">
            <form [formGroup]="usuarioLogin" (ngSubmit)="verify()"
             class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Login
                </span>

                
                <!-- <span class="text-danger">El correo es obligatorio</span> -->
                <div *ngIf="f['email'].invalid && f['email'].touched && f['email'].errors!=null"><!--  -->
                    <small id="email-help" *ngIf="f['email'].errors['required']"
                    class="text-danger animated fadeIn">El correo es obligatorio</small> 
                    <small id="email-help" *ngIf="f['email'].errors['pattern']"
                class="text-danger animated fadeIn">El correo es Invalido </small>
                <small id="email-help" *ngIf="f['email'].errors['match']"
                class="text-danger animated fadeIn">El correo no existe</small>               
                </div>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="email" 
                           placeholder="Username"
                           formControlName="email">

                    <span class="focus-input100"></span>
                </div>
                

                <div *ngIf="f['password'].invalid && f['password'].touched && f['password'].errors!=null"><!--  -->
                    <small id="password-help" *ngIf="f['password'].errors['required']"
                    class="text-danger animated fadeIn">La contraseña es obligatorio</small>               
                </div>
                <div class="wrap-input100 m-b-16" data-validate = "Password is required">
                    <input class="input100"
                           type="password" 
                           name="password" 
                           placeholder="Password"
                           formControlName="password">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>

                    <div>
                        <a routerLink="/registro" class="txt1">
                            ¿No tienes cuenta?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button  class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

