<div class="tittle">
    <h1 class="color" style="color: black; font-size: 5vw">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
          </style>
        Uniformes
        <img src="assets/img/title.png" width="15%">

    </h1>

    <div class="image-title">

    </div>
</div>
<div class="content">

    <a class="navbar-brand pc" routerLink="/home">
        <img src="assets/img/logoSYS.png" width="100px" alt="logo">
    </a>
    <div class="menu">
        <a routerLink="/home">Inicio</a>
        <a routerLink="/comerce">Toda la tienda</a>
        <a routerLink="/sobre-nosotros">Nosotros</a>
    </div>
    <div class="opciones pc">
        <a routerLink="/search" class="ml-3">
            <img src="assets/img/buscar.png" width="25px" alt="">
        </a>
        <a *ngIf="iniSession" routerLink="/cart" class="ml-3">
            <img src="assets/img/compra.png" width="27px" alt="">
        </a>
        <a *ngIf="!iniSession" routerLink="/login" class="ml-3">
            <img src="assets/img/inisesion.png" width="27px" alt=""></a>
        <a *ngIf="iniSession" (click)="closeSession()">
            <fa-icon class="text-black" [icon]="faOff"></fa-icon>
        </a>




        <a *ngIf="!iniSession" routerLink="/login2" class="ml-3">
            <img src="assets/img/inisesion.png" width="27px" alt=""></a>
        <a *ngIf="iniSession" (click)="closeSession()">
            <fa-icon class="text-black" [icon]="faOff"></fa-icon>
        </a>
    </div>
    <button class="movil navbar-toggler" type="button" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
        <fa-icon class="text-black" [icon]="faBars"></fa-icon>
    </button>
</div>




<div class="offcanvas offcanvas-start bg-white" style="width: 60%;" styleClass="p-sidebar-sm" tabindex="-1"
    id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            <a class="navbar-brand" href="#">
                <img src="assets/img/logoSYS.png" width="50px" alt="">
            </a>
        </h5>
        <button type="button" class="text-black" data-bs-dismiss="offcanvas" aria-label="Close"
            style="background: transparent; border: none; font-size: 20px !important;">
            <fa-icon [icon]="faClose"></fa-icon>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="grid">
            <div *ngIf="!iniSession" class="col-12 text-black" routerLink="/login" data-bs-dismiss="offcanvas"
                aria-label="Close">
                <img class="text-black mr-2" src="assets/img/inisesion.png" width="20px" alt="">
                Inicia sesión
            </div>
            
            <div *ngIf="iniSession" class="col-12 text-black" (click)="closeSession()">
                <fa-icon class="text-black mr-2" [icon]="faOff"></fa-icon> Cerrar sesión
            </div>
            <div class="col-12 text-black" routerLink="/cart" data-bs-dismiss="offcanvas" aria-label="Close">
                <img  class="text-black mr-2" src="assets/img/compra.png" width="20px" alt="">
                 Carrito
            </div>
            <div class="col-12 text-black" routerLink="/search" data-bs-dismiss="offcanvas" aria-label="Close">
                    <img  class="text-black mr-2" src="assets/img/buscar.png" width="20px" alt="">
                buscar
            </div>
            
            
        </div>
    </div>
</div>

<!-- //////////////////////////////77 -->