body {
    font-family: 'Poppins', sans-serif;
}
.mb-1{
    font-size: 2vw;
}
.mt-0{
    font-size: 2vw;
    color: #9995FF;
}
:host ::ng-deep .b-w-80b .p-button{
    width: 100%;
    border: 1px solid #FF62C7;
    border-radius: 0;
    background: #FF62C7;
    color: rgb(255, 255, 255)
}
.puntos1{
    display: flex;
    height: 50%;
    width: 40vw;
    background: #00E676;
}
.puntos2{
    display: flex;
    height: 50%;
    width: 20vw;
    background: #9747FF;
}
.puntos3{
    display: flex;
    height: 30%;
    width: 10vw;
    background: #FF7ED1;
}
.puntos4{
    display: flex;
    height: 30%;
    width: 9vw;
    background: #C3F3FD;
}
.puntos5{
    display: flex;

}

.nueva{
    font-size: 2vw;

    text-shadow: 0px 3px 4px rgb(162, 162, 162);
}
.mitad {
    background-size: cover;
    background: #FF62C7;
    color: #FF62C7;
}
.text {
    border-bottom: 1px solid #000;
    box-shadow: 0px 3px 0.5px rgb(222, 222, 222);
}
.p-button-help3{
    font-size:30%;
    color: #000;
    background-color: #9d9d9d;
}
.text h1 {
    font-weight: 750;
    font-size: 5vw;
} 

:host ::ng-deep {
    .p-dropdown:hover {
        box-shadow: none !important;
        border-color: #000 !important;
    }

    .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
    }
}

.color {
    font-size: 4vw;

    text-shadow: 0px 3px 4px rgb(162, 162, 162);
}

.color-arriba {
    background: #ffffff;
    color: #ffffff;
    background-color: #ffffff;
}
.navbar-toggler{
top: 10px;
left: 400px;
}


.text a {
    top: 70px;
    left: 100px;
}

.paginas ul {
    list-style: none;
}

.menu>li {

    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

.menu li a:hover {

    color: #BD88F2;
}

.navbar {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

}

.search-movil {
    display: none !important;
}

.search-desk {
    display: flex !important;
}

.action-desk {
    display: block !important;
}

:host ::ng-deep {
    .p-dropdown:hover {
        box-shadow: none !important;
        border-color: #000 !important;
    }
    .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
    }
    .reload-center .p-skeleton {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
    }
    .reload-rigth .p-skeleton {
        display: block;
        margin-left: auto;
    }
    .detail-product .p-dropdown:hover {
        box-shadow: none !important;
        border-color: #000 !important;
    }
    .detail-product .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
    }
    .p-dataview-header {
        background-color: #f0f0f0;
    }
    .product-name {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .product-description {
        margin: 0 0 1rem 0;
    }
    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
    .product-category {
        font-weight: 600;
        vertical-align: middle;
    }
    .p-selectbutton .p-button.p-highlight {
        background: #000 !important;
        border-color: #000 !important;
        color: #ffffff;
    }
    .p-button:focus {
        box-shadow: 0 0 0 0.2rem #fff !important;
    }
    .product-list-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
        img {
            width: 100%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }
        .product-list-detail {
            flex: 1 1 0;
        }
        .p-rating {
            margin: 0 0 .5rem 0;
        }
        .product-price {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .5rem;
            align-self: flex-end;
        }
        .product-list-action {
            display: flex;
            flex-direction: column;
        }
        .p-button {
            margin-bottom: .5rem;
        }
    }
    .product-grid-item-bottom .p-button {
        background-color: #000 !important;
        border-color: black;
    }
    .product-grid-item-bottom .p-button:active,
    .product-grid-item-bottom .p-button:hover,
    .product-grid-item-bottom .p-button:focus {
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
    }
    .product-grid-item {
        margin: .5em;
        border: 1px solid #dee2e6;
        .product-grid-item-top,
        .product-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        img {
            width: 75%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            
        }
        .product-grid-item-content {
            text-align: center;
        }
        .product-price {
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
        background-color: #000;
    }
    .p-carousel .p-carousel-indicators .p-carousel-indicator button {
        background-color: #e9ecef;
        width: 0.8rem;
        height: 0.8rem;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        border-radius: 50%;
    }
    .add-cart {
        button {
            background-color: #000;
            border-color: black;
            width: 100%;
        }
    }
    .add-cart button:hover,
    .add-cart button:focus,
    .add-cart button:active {
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
        background-color: #000;
    }
    .loading .p-dialog-header {
        background: transparent !important;
    }
    .loading .p-dialog-content {
        background: transparent !important;
    }
    .loading .p-dialog-mask .p-dialog {
        box-shadow: none !important;
    }
    .products-ramdon {
        .p-carousel-item {
            display: flex;
            align-items: center;
            img {
                display:block;
                margin: auto;
            }
        }
    }
}
.carousel-control-prev{
margin-top: 200px;
}
.carousel-control-next{
    top: 200px;
}
.ver{
    border-radius: 50%;
}
.botonbaner{
    margin-top: 20px;
}

.tittleBanner{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittleBanner h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 70px;
}

.pag-banner {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.carousel-inner{
    background-color: #FFC8EC;
}
.d-block-w-100{
    width: 1800px;
    height: 3000px;
    background-color: #a3006a;
    top: 70px;
}

.tablon{
    margin-top: 30px;
    background-color: #D9D9D9;
    line-height: 450px;
    text-align: center;
    

}

.imagen{
    margin-left: auto; 
    margin-right: auto;
}
.imagen a{
    position: absolute;
right:3.5em;

border-radius:1.5em;
color:white;
text-transform:uppercase;
padding:1em 1.5em;
}
.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
     :host ::ng-deep .product-list-item {
        flex-direction: column;
        align-items: center;
        img {
            width: 75%;
            margin: 2rem 0;
        }
        .product-list-detail {
            text-align: center;
        }
        .product-price {
            align-self: center;
        }
        .product-list-action {
            display: flex;
            flex-direction: column;
        }
        .product-list-action {
            margin-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
    .detail-product {
        img {
            width: 100% !important;
            height: 90% !important;
            object-fit: contain;
            display: block;
            margin: auto;
        }
    }
}
.container .start-widget input{
     display: none;
} 
 .start-widget label{
    font-size: 40px;
    color: #000000;
    padding: 10px;
    transition: all 0.2s ease;

}

input:not(:checked) label:hover,
input:checked label:hover label{
    color: #fd4;
}
input:not(:checked) label{
color:#fd4;
}

input#rate-5:checked label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
} 
input:checked form{
    display: block;
}

.nomb{
    font-weight:bold;
}
.calificacion{
    font-size: 150%;

}
.total{
    color: #777777;

}
.tex-opinions{
    font-size: 150%;
}
.num{
    color: #777777;
    font-size: 10vw;  
}

.ecomerce {
    margin-top: 6rem;
}

.detail-product {
    img {
        width: 300px;
        height: 300px;
        object-fit: contain;
        display: block;
        margin: auto;
    }
}

.b-w-80{
    width: 80%;
}

:host ::ng-deep .b-w-80 .p-button{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #f6f6f6;
    color: #000
} 
.espacio{
    left: 10%;
}
.espacio1{
    left: 20%;
}
.espacio2{
    left: 30%;
}

.carousel-item{
    display: none;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 0 6rem;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev,
.carousel-item-start {
    display: flex;
}

.imagenban{
    width: 40%;
    max-height: 80%;
    height: 100%;
}

.imagenban img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



@media screen and (max-width: 768px) {
    
.num{
    color: #777777;
    font-size: 20vw;  
}
    .search-movil {
        display: flex !important;
    }

    .navbar {
        padding-top: 0.5rem !important;
    }

    .search-desk {
        display: none !important;
    }

    .action-desk {
        display: none !important;
    }

    .carousel-item{
        flex-direction: column;
    }

    .tittleBanner{
        margin-top: 0;
        margin-bottom: 4rem;
    }

    .tittleBanner h1{
        font-size: 40px
    }

    .imagenban{
        height: 40%;
    }

    .carousel-inner{
        height: 65vh;
    }
}


//header

body {
    font-family: 'Poppins', sans-serif;
}

.tittle{
   width: 100%;
   text-align: center;
   text-shadow: 0px 3px 4px rgb(162, 162, 162);
}

.tittle h1{
   font-size: 4vw;
   font-weight: 750;
   width: 65%;
   margin: 0 auto;
   padding-bottom: 1rem;
   border-bottom: 1px solid #000;
}

.content{
   display: flex;
   width: 100vw;
   background-color: #fff;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 1040;
   padding: .8rem;
}

.logo .menu, .opciones{
   display: flex;
}

.menu a{
   margin: 0 2rem;
}

.opciones a{
   margin: 0 0.5rem;
}

a{
   text-decoration: none;
   color: #000;
}

.movil{
   display: none;
}

@media screen and (max-width: 768px) {
   .movil{
       display: flex;
   }

   .pc{
       display: none;
   }

   .menu a{
       margin: 0 1rem;
   }
}
