<div class="container md-5">

    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="menu"><br><br>
                <section>
                    <nav> <a routerLink="/tiempos-de-entrega">
                            <p>Tiempos de entrega<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/calidad-garantia">
                            <p>Calidad y Garantia<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/cambios">
                            <p>Cambios<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/formas-pago">
                            <p>formas de pago<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/informacion-general">
                            <p>Politicas de datos<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                </section>
            </div>
            <div class="cont">
                <p-image src="assets/img/whatsApp.png"></p-image>
            </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">


<!--             <div class="image_fondo">
                <p-image src="assets/img/globo-amarillo.png"></p-image>
            </div> -->
            <div class="informacionGeneral">

                <div class="title text-center">
                    <h1>Cambios</h1>
                </div>
                <div class="linea">
                    <hr width=200px size=5 color="#FF0000">
                </div>
                <div class="text">
                    <p>
                        La solicitud de cambio por talla o referencia, debe de realizarse dentro del periodo no
                        mayor a 30 días calendario, la prenda deben de estar en perfectas condiciones, no
                        modificada o que presente algún tipo de ajuste o deterioro. cuando llegue el paquete,
                        nos pondremos en contacto con usted para coordinar el cambio del producto, de
                        acuerdo al stock disponible en el momento.
                        <br><br><br>

                        Debes tener en cuenta que no podemos realizar cambios o devoluciones de
                        productos que no cumpla con las condiciones de higiene estipuladas en el momento
                        de entrega. los costos de envíos serán asumidos por el comprador.
                    </p>

                </div>
            </div>
        </div>
    </div>