body{
    font-family: 'Poppins', sans-serif;
}
a:link{
    color: rgb(81, 81, 81);
    text-decoration: none;
} 
A:hover { color: rgb(81, 81, 81); 
    text-decoration: none }
A:visited {color: rgb(81, 81, 81);  
   text-decoration: none }  
.text{
    margin-top: 10px;
}
.imagen-fondo{
    background-image: url(./fondo-texto1.png);
 background-repeat: no-repeat;
 background-position: 50% 2px;
 }
.title{

    color: #FF62C7;
}
.cont{
    margin-top: 30px;
    margin-left: 20px;
 }
 
 .cont{
    display: flex;
}
.cont1{
    display: none;
}
 @media screen and (max-width: 768px) {
    .movil{
        display: flex;
    }

    .cont1{
        display: flex;
    }
.cont{
    display: none;
}

    .menuint {
        display: none;
    }
}


//header

body {
    font-family: 'Poppins', sans-serif;
}

.tittle{
    background-color: #9747FF;
   width: 100%;
   text-align: center;
   text-shadow: 0px 3px 4px rgb(162, 162, 162);
}

.tittle h1{
   font-size: 4vw;
   font-weight: 750;
   width: 65%;
   margin: 0 auto;
   padding-bottom: 1rem;
   border-bottom: 1px solid #000;
}

.content{
   display: flex;
   width: 100vw;
   background-color: #fff;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 1040;
   padding: .8rem;
}

.logo .menu, .opciones{
   display: flex;
}

.menu a{
   margin: 0 2rem;
}

.opciones a{
   margin: 0 0.5rem;
}

a{
   text-decoration: none;
   color: #000;
}

.movil{
   display: none;
}

@media screen and (max-width: 768px) {
   .movil{
       display: flex;
   }

   .pc{
       display: none;
   }

   .menu a{
       margin: 0 1rem;
   }
}
 