body{
    font-family: 'Poppins', sans-serif;
}
a:link{
    color: rgb(81, 81, 81);
    text-decoration: none;
} 
A:hover { color: rgb(81, 81, 81); 
    text-decoration: none }
A:visited {color: rgb(81, 81, 81);  
   text-decoration: none }  
   .menu{
    margin-top: 220px;
}
.informacionGeneral{
    margin-top: 200px; 
}
.text{
    margin-top: 10px;
}

.title{

    margin-top: 250px;
    color: #FF62C7;
}
.linea{
    margin-left: 39%;
}

.cont{
    margin-top: 30px;
    margin-left: 20px;
 }