
body{
    font-family: 'Poppins', sans-serif;
}

:host ::ng-deep {
    .p-dropdown {
        width: 100% !important;
    }
    .p-dialog .p-dialog-header {
        background: transparent !important;
    }
    .p-dialog .p-dialog-content {
        background: transparent !important;
    }
    .p-dialog {
        box-shadow: none !important;
    }
    .p-dropdown:hover {
        box-shadow: none !important;
        border-color: #000 !important;
    }
    .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
    }
}

.error-box{
    left: -100px;
    width: 500px;
}
.inicio_session {
    color: #FF62C7;
    margin-top: 10%;
}
.contraseña{
    color: #FF62C7;
}
.texban{
    color: #FF62C7;

}
.texban1{
margin-top: 10%;
}
.banner1{
    padding: .8rem;
    height: 720px;
    background: linear-gradient(#FF62C7, #ff74ce, #ffffff);
    top: 0;
    z-index: 1040;
    padding: 0.8rem;
}
.banner1-Text h1{
    color: #fff;
    font-weight: 400;
    font-size: 55px;
    
}
.banner1-Text h2{

     top: 5%;
     color: #fff;
    font-weight: 300;
    font-size: 35px;
    
}

.p-button-help{
    
    background-color: #9747FF; 
    align-items: center;
}
.p-button-help2{
    top: 10%;
    left: 35%;
        background-color: #9747FF;
        align-items: center;
    }

.error-message {
    font-size: 11px !important;
    color: rgb(190, 16, 16);
    padding-top: 3px;
    margin-left: 20px;
}

@media screen and (max-width: 576px) {
    .margin-movil {
    }
    .h-movil {
        height: 100% !important;
    }
    .back-movil {
        left: 5% !important;
    }
}


//header

body {
    font-family: 'Poppins', sans-serif;
}

.tittle{
   width: 100%;
   text-align: center;
   text-shadow: 0px 3px 4px rgb(162, 162, 162);
}

.tittle h1{
   font-size: 4vw;
   font-weight: 750;
   width: 65%;
   margin: 0 auto;
   padding-bottom: 1rem;
   border-bottom: 1px solid #000;
}

.content{
   display: flex;
   width: 100vw;
   background-color: #fff;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 1040;
   padding: .8rem;
}

.logo .menu, .opciones{
   display: flex;
}

.menu a{
   margin: 0 2rem;
}

.opciones a{
   margin: 0 0.5rem;
}

a{
   text-decoration: none;
   color: #000;
}

.movil{
   display: none;
}
.tamaño{
    top: 0px;
}
@media screen and (max-width: 768px) {
   .movil{
       display: flex;
   }

   .pc{
       display: none;
   }

   .menu a{
       margin: 0 1rem;
   }
   
   
.tamaño{
    top: 100px;
}
   
}

