//@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.mitad {
    background-size: cover;
    background: #FF62C7;
    color: #FF62C7;
}

.text {

    border-bottom: 1px solid #000;
    box-shadow: 0px 3px 0.5px rgb(222, 222, 222);
}

.text h1 {
    font-weight: 750;
    font-size: 4vw;
} 

:host ::ng-deep {
    .p-dropdown:hover {
        box-shadow: none !important;
        border-color: #000 !important;
    }

    .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
    }
}

.color {
    font-size: 4vw;

    text-shadow: 0px 3px 4px rgb(162, 162, 162);
}

.color-arriba {
    background: #C8C6F7;
    color: #C8C6F7;
}
.navbar-toggler{
top: 10px;
left: 400px;
}


.text a {
    top: 70px;
    left: 100px;
}

.paginas ul {
    list-style: none;
}

.menu>li {

    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

.menu li a:hover {

    color: #BD88F2;
}

.navbar {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

}

.search-movil {
    display: none !important;
}

.search-desk {
    display: flex !important;
}

.action-desk {
    display: block !important;
}

@media screen and (max-width: 768px) {
    .search-movil {
        display: flex !important;
    }

    .navbar {
        padding-top: 0.5rem !important;
    }

    .search-desk {
        display: none !important;
    }

    .action-desk {
        display: none !important;
    }
}


:host ::ng-deep {
    .p-dropdown:hover {
        box-shadow: none !important;
        border-color: #000 !important;
    }
    .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
    }
    .reload-center .p-skeleton {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
    }
    .reload-rigth .p-skeleton {
        display: block;
        margin-left: auto;
    }
    .detail-product .p-dropdown:hover {
        box-shadow: none !important;
        border-color: #000 !important;
    }
    .detail-product .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
    }
    .p-dataview-header {
        background-color: #f0f0f0;
    }
    .product-name {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .product-description {
        margin: 0 0 1rem 0;
    }
    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
    .product-category {
        font-weight: 600;
        vertical-align: middle;
    }
    .p-selectbutton .p-button.p-highlight {
        background: #000 !important;
        border-color: #000 !important;
        color: #ffffff;
    }
    .p-button:focus {
        box-shadow: 0 0 0 0.2rem #fff !important;
    }
    .product-list-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
        img {
            width: 100%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }
        .product-list-detail {
            flex: 1 1 0;
        }
        .p-rating {
            margin: 0 0 .5rem 0;
        }
        .product-price {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .5rem;
            align-self: flex-end;
        }
        .product-list-action {
            display: flex;
            flex-direction: column;
        }
        .p-button {
            margin-bottom: .5rem;
            // background-color: #000 !important;
        }
    }
    .product-grid-item-bottom .p-button {
        // margin-bottom: .5rem;
        background-color: #000 !important;
        border-color: black;
    }
    .product-grid-item-bottom .p-button:active,
    .product-grid-item-bottom .p-button:hover,
    .product-grid-item-bottom .p-button:focus {
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
    }
    .product-grid-item {
        margin: .5em;
        border: 1px solid #dee2e6;
        .product-grid-item-top,
        .product-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        img {
            width: 75%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 2rem 0;
        }
        .product-grid-item-content {
            text-align: center;
        }
        .product-price {
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
        background-color: #000;
    }
    .p-carousel .p-carousel-indicators .p-carousel-indicator button {
        background-color: #e9ecef;
        width: 0.8rem;
        height: 0.8rem;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        border-radius: 50%;
    }
    .add-cart {
        button {
            background-color: #000;
            border-color: black;
            width: 100%;
        }
    }
    .add-cart button:hover,
    .add-cart button:focus,
    .add-cart button:active {
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
        background-color: #000;
    }
    .loading .p-dialog-header {
        background: transparent !important;
    }
    .loading .p-dialog-content {
        background: transparent !important;
    }
    .loading .p-dialog-mask .p-dialog {
        box-shadow: none !important;
    }
    .products-ramdon {
        .p-carousel-item {
            display: flex;
            align-items: center;
            img {
                display: block;
                margin: auto;
            }
        }
    }
}
.carousel-control-prev{
margin-top: 200px;
}
.carousel-control-next{
    top: 200px;
}
.imagenban{
margin-top: 70px;    
margin-left: -200px;
}
.banerizq h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 80px;
}
.banerizq{
    
    position: relative;
    left: 20px;
    top: 150px;
}
.botonbaner{
    width: 10%;
    position: relative;
    
    left: 200px;
    top: 200px;
}
.pag-banner {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}
.banner{
    position: relative;
    left: 700px;
    top: -200px;
}
.carousel-inner{
    background-color: #FFC8EC;
    top: 70px;
}
.d-block-w-100{
    width: 1800px;
    height: 3000px;
    background-color: #a3006a;
    top: 70px;
}
/* .carousel-item{
    width: 1800px;
    height: 700px;
    background-color: #a3006a;
    top: 70px;
} */
.tablon{
    position:relative;
    left: 25%;
    width: 900px;
    height: 400px;
    background-color: #9d9d9d;
    top: 70px;
    line-height: 450px;
    text-align: center;
    

}
.carousel-item{
    position: relative;
    left: 200px;
    //top: 10px;
}
.imagen{
    position: relative;
    margin-left: auto; 

margin-right: auto;
}
.imagen a{
    position: absolute;
bottom:18.5em;
right:3.5em;

border-radius:1.5em;
color:white;
text-transform:uppercase;
padding:1em 1.5em;
}
.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
     :host ::ng-deep .product-list-item {
        flex-direction: column;
        align-items: center;
        img {
            width: 75%;
            margin: 2rem 0;
        }
        .product-list-detail {
            text-align: center;
        }
        .product-price {
            align-self: center;
        }
        .product-list-action {
            display: flex;
            flex-direction: column;
        }
        .product-list-action {
            margin-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
    .margin-movil {
        margin-top: 150px !important;
    }
    .detail-product {
        img {
            width: 100% !important;
            height: 90% !important;
            object-fit: contain;
            // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            // margin: 2rem 0;
            display: block;
            margin: auto;
        }
    }
}

.ecomerce {
    margin-top: 6rem;
}

.detail-product {
    img {
        width: 300px;
        height: 300px;
        object-fit: contain;
        // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        // margin: 2rem 0;
        display: block;
        margin: auto;
    }
}


body{
    font-family: 'Poppins', sans-serif;
}

:host ::ng-deep {
    .p-dropdown {
        width: 100% !important;
    }
    .p-dialog .p-dialog-header {
        background: transparent !important;
    }
    .p-dialog .p-dialog-content {
        background: transparent !important;
    }
    .p-dialog {
        box-shadow: none !important;
    }
    .p-dropdown:hover {
        box-shadow: none !important;
        border-color: #000 !important;
    }
    .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px #fff !important;
        border-color: #000 !important;
    }
}

.error-box{
    left: -100px;
    width: 500px;
}
.inicio_session {
    margin-top: 350px;
    margin-left: 20%;
    color: #FF62C7;

}
.contraseña{
    color: #FF62C7;
    margin-top: 100px;
}
.texban{
    color: #FF62C7;

}
.texban1{
    margin-top: 200px;
    margin-left: 20px;
}
.banner1{
    
    height: 700px;
    background: linear-gradient(#FF62C7, #ff74ce, #ffffff);
}
.banner1-Text h1{
    color: #fff;
    font-weight: 400;
    font-size: 55px;
    
}
.banner1-Text h2{
     margin-top: 20px;
     margin-left: 5%;
     color: #fff;
    font-weight: 300;
    font-size: 35px;
    
}

.p-button-help1{
    margin-left: 40%;
    margin-top: 50px;
    background-color: #9747FF; 
}
.p-button-help2{
        background-color: #9747FF;
        margin-left: 15%;
        margin-top: 20px;
    }

.error-message {
    font-size: 11px !important;
    color: rgb(190, 16, 16);
    padding-top: 3px;
    margin-left: 10px;
}

@media screen and (max-width: 576px) {
    .margin-movil {
        margin-top: 150px !important;
    }
    .h-movil {
        height: 100% !important;
    }
    .back-movil {
        left: 5% !important;
    }
}


