<body>
    <div class="container">
        <div class="row">
            <div class="col order-last col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="informacion-general">
                        <section>
                            <nav> <a routerLink="/informacion-general">
                                    <h2>Informacion general</h2>
                                </a></nav>
                            <hr width=300px size=5>
                            <nav> <a routerLink="/informacion-general">
                                    <p>Cuidados del producto<p>
                                </a></nav>
                            <nav> <a routerLink="/tiempos-de-entrega">
                                    <p>Tiempos de entrega<p>
                                </a></nav>
                            <nav> <a routerLink="/calidad-garantia">
                                    <p>Calidad y Garantia<p>
                                </a></nav>
                            <nav> <a routerLink="/cambios">
                                    <p>Cambios<p>
                                </a></nav>
                            <nav> <a routerLink="/formas-pago">
                                    <p>formas de pago<p>
                                </a></nav>
                            <nav> <a routerLink="/informacion-general">
                                    <p>Politicas de datos<p>
                                </a></nav>
                        </section>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="centro">
                    <i class="fa-brands fa-facebook-f"></i>
                    <div class="siguenos">
                        <i class="fa-brands fa-whatsapp"></i>
                        <br><br>
                        <h2>Siguenos</h2>
                        <br>
                        <br><br>
                    </div>
                    <div class="contacto">
                        <h2>Contacto</h2>
                        <p>Correo electronico</p>
                        <p>Telefono</p>
                        <img src="assets/img/logoSYS.png" width="60px" alt="">
                    </div>
                    <br>
                    <div class="d-flex align-items-center">

                        <div>
                            <strong>Copyright &copy; {{dateNow}} <a
                                    style="color: #000; font-weight: bold; text-decoration: none;"
                                    href="https://www.wtredata.com/" target="_blank">WtreData</a>.</strong> Todos los
                            derechos
                            reservados
                        </div>
                        <div class="d-sm-inline-block ml-auto">
                            <img src="assets/img/Picture1.png" width="60px" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col order-first col-lg-3 col-md-12 col-sm-12 col-xs-12">

                    <div class="sobre-nosotros">
                        <section>
                            <nav> <a routerLink="/sobre-nosotros">
                                    <h2>Sobre nosotros</h2>
                                </a></nav>

                            <hr width=250px size=5>
                            <p>nuestra historia</p>
                        </section>
                    </div>
                    <div class="nuestros-horarios">
                        <section>
                            <nav> <a routerLink="/nuestros-horarios">
                                    <h2>Nuestros horarios</h2>
                                </a></nav>
                            <hr width=280px size=5>
                            <p>nuestra historia</p>
                        </section>
                    </div>
                    <div class="localizacion">
                        <section>
                            <h2>Localización</h2>
                            <hr width=200px size=5>
                            <p>nuestra historia</p>
                        </section>
                    </div>
            </div>
        </div>
    </div>
</body>