:host {
    display: block;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #D9D9D9
    
}
.content{
    display: flex;
    width: 200vw;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1040;
    padding: .8rem;
}

.logo .menu, .opciones{
    display: flex;
}
 .centro{
    text-align: center;

} 
.informacion-general{
   /*  margin-left: 100px; */
}
 .izquierda{
    margin-left: 20px;
}
.derecha{
    margin-left: 50px;
} 

 a:link{
    color: black;
    text-decoration: none;
} 
A:hover { color: black; 
     text-decoration: none }
A:visited {color: black;  
    text-decoration: none }  
