<div class="container md-5">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="menuint"><br><br>
                <section>
                    <nav> <a routerLink="/tiempos-de-entrega">
                            <p>Tiempos de entrega<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/calidad-garantia">
                            <p>Calidad y Garantia<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/cambios">
                            <p>Cambios<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/formas-pago">
                            <p>formas de pago<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/informacion-general">
                            <p>Politicas de datos<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                </section>
            </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="informacionGeneral">

                <div class="title text-center">
                    <h1>Calidad y Garantia</h1>
                </div>
                <div class="imagen-fondo">
                    <div class="linea">
                        <hr width=100% size=5 color="#FF0000">
                    </div>
                    <div class="text">
                        <p> Todo nuestro equipo está comprometido para entregarte productos exclusivos de alta
                            durabilidad sin embargo esta garantía se aplica cuando a pesar de cumplir con los
                            estándares de calidad usted como cliente tiene alguna inconformidad, como:
                            <br><br>
                            - Deterioro del color de la prenda <br>
                            - Costuras débiles <br>
                            - Defectos de fabricación. <br>
                            <br>
                            En caso de presentarse algún inconveniente o duda en el proceso de compra puedes
                            comunicarte con nosotros para brindarte el soporte requerido, a nuestro WhatsApp.

                            <br><br><br>
                            <span style="font-family: 'Poppins', sans-serif; color: #872AFF;">Nota:</span> es importante ser muy específico sobre los motivos de devolución.
                            <br><br>
                            En caso de que exista falla en el producto, puedes solicitar un cambio dentro de los 10 dias
                            hábiles posteriores a la entrega del producto, siendo los costos de envíos
                            asumidos por uniformes sys.
                            <br>
                            Una vez expirado el plazo, no se aceptan cambios, reclamos y/o devoluciones. Para
                            esto, deberás ponerte en contacto vía e-mail a: 
                            <samp style="font-family: 'Poppins', sans-serif; color: #FF62C7;">uniformessyscol@gmail.com</samp>. donde
                            analizaremos rigurosamente tu caso y así poder coordinar el arreglo o el cambio de
                            este.

                        </p>

                    </div>
                </div>

            </div>
        </div>


    </div>
</div>