body{
    font-family: 'Poppins', sans-serif;
}
a:link{
    color: rgb(81, 81, 81);
    text-decoration: none;
} 
A:hover { color: rgb(81, 81, 81); 
    text-decoration: none }
A:visited {color: rgb(81, 81, 81);  
   text-decoration: none }  

.text{
    margin-top: 10px;
}

.title{
    color: #FF62C7;
}
.cont{
    margin-top: 30px;
    margin-left: 20px;
 }
 