<div class="container md-5">
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

        <div class="menu"><br><br>
            <section>
                <nav> <a routerLink="/tiempos-de-entrega"><p>Tiempos de entrega<p></a>
                    <hr width=200px   size=5  color="#FF0000"></nav>
                    <nav> <a routerLink="/calidad-garantia"><p>Calidad y Garantia<p></a>
                        <hr width=200px   size=5  color="#FF0000"></nav>
                        <nav> <a routerLink="/cambios"><p>Cambios<p></a>
                            <hr width=200px   size=5  color="#FF0000"></nav>
                            <nav> <a routerLink="/formas-pago"><p>formas de pago<p></a>
                                <hr width=200px   size=5  color="#FF0000"></nav>
                                <nav> <a routerLink="/informacion-general"><p>Politicas de datos<p></a>
                                    <hr width=200px   size=5  color="#FF0000"></nav>
            </section>
    </div>
    <div class="cont">
        <p-image src="assets/img/whatsApp.png"></p-image>
    </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
<!-- 
        <div class="image_fondo">
            <p-image src="assets/img/globo-rojo.png"></p-image>
        </div> -->
        <div class="informacionGeneral">
            
            <div class="title text-center"><h1>Informacion General</h1></div>
               <div class="linea"> <hr width=400px   size=5  color="#FF0000"></div>
            <div class="text"><p> Uniformes sys envía pedidos a todos los municipios de Colombia, a través de 
                interrapidisimo, quién se encarga de que tu paquete llegue al domicilio que elijas. Los 
                tiempos de entrega oscilan entre 2 y 10 días hábiles; teniendo en cuenta las 
                condiciones climáticas, de carreteras o calamidades que puedan afectar la operación 
                logística.
                <br><br><br>
                
                En caso de presentarse algún inconveniente o duda en el proceso de compra puedes 
                comunicarte con nosotros para brindarte el soporte requerido, a nuestro WhatsApp.
                
                <br><br><br>
                
                El costo del envío a todos los destinos es de $11.000 sin importar la cantidad.
            </p>
         
            </div>
        
    </div>
  </div>
</div>

