body{
    font-family: 'Poppins', sans-serif;
}
a:link{
    color: rgb(81, 81, 81);
    text-decoration: none;
} 
A:hover { color: rgb(81, 81, 81); 
    text-decoration: none }
A:visited {color: rgb(81, 81, 81);  
   text-decoration: none }  

.text{
    margin-top: 10px;
}

.title{
    color: #FF62C7;
}


.cont{
    margin-top: 30px;
    margin-left: 20px;
 }

.icon-col{
    margin-top: -80px;
margin-left: -200px;
}

 .targetas_credito{
    color: #9747FF;
 }

 .icon-tar1{
    margin-top: 5px;
 }
 .icon-tar{
    margin-top: 40px;
 }
 .icon-tar4{
    margin-top: 50px;
 }
 .dinero_efectivo{
    color: #FF26B2;
 }
 .pagos_bancarios{
    color: #F2D12D;
 }
 .transferencias{
    color: #00E676;

 }