<div class="container md-5">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="menu"><br><br>
                <section>
                    <nav> <a routerLink="/tiempos-de-entrega">
                            <p>Tiempos de entrega<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/calidad-garantia">
                            <p>Calidad y Garantia<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/cambios">
                            <p>Cambios<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/formas-pago">
                            <p>formas de pago<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                    <nav> <a routerLink="/informacion-general">
                            <p>Politicas de datos<p>
                        </a>
                        <hr width=200px size=5 color="#FF0000">
                    </nav>
                </section>
            </div>
            
    <div class="cont">
        <p-image src="assets/img/whatsApp.png"></p-image>
    </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="informacionGeneral">

                <div class="title text-center">
                    <h1>Formas de pago</h1>
                </div>
                <div class="linea">
                    <hr width=100% size=5 color="#FF0000">
                </div>

                <div class="row">
                    <div class="col-1">
                        <div class="icon-col">
                            <p-image src="assets/img/logo-colombia1.png"></p-image>

                        </div>

                    </div>
                    <div class="col-4">
                        <div class="targetas_credito text-left">
                            <h3>Targeta de credito</h3>
                        </div>
                        <br><br>
                        <div class="dinero_efectivo text-left">
                            <h3>Dinero en efectivo</h3>
                        </div>
                        <br><br>
                        <div class="pagos_bancarios text-left">
                            <h3>Pagos bancarios</h3>
                        </div>
                        <br><br>
                        <div class="transferencias text-left">
                            <h3>Transferencias</h3>
                        </div>
                        <br><br>
                    </div>
                    <div class="col-7">

                        <div class="icon-tar1 text-center">
                            <p-image src="assets/img/visa1.png"></p-image>
                            <p-image src="assets/img/mastercard1.png"></p-image>
                            <p-image src="assets/img/american1.png"></p-image>

                        </div>

                        <div class="icon-tar text-center">
                            <p-image src="assets/img/baloto1.png"></p-image>
                            <p-image src="assets/img/efecty1.png"></p-image>
                            <p-image src="assets/img/baloto1.png"></p-image>
                        </div>

                        <div class="icon-tar text-center">
                            <p-image src="assets/img/davivienda1.png"></p-image>
                            <p-image src="assets/img/bancolombia1.png"></p-image>
                            <p-image src="assets/img/bbva1.png"></p-image>

                        </div>

                        <div class="icon-tar4 text-center">
                            <p-image src="assets/img/nequi1.png"></p-image>
                            <p-image src="assets/img/daviplata1.png"></p-image>
                            <p-image src="assets/img/pse1.png"></p-image>

                        </div>




                    </div>
                </div>
            </div>
        </div>


    </div>
