body{
    font-family: 'Poppins', sans-serif;
}
:host ::ng-deep {
    .p-button {
        background-color: #9747FF;
        border-color: #000;
    }
    .buttonDetalles {
        background-color: #FF62C7;
        border-color: #000;
    }
    .p-button:hover {
        background-color: #C3F3FD;
        color: #000;
        border-color: #000;
    }
    .p-button:focus {
        background-color: #FF62C7;
        border-color: #000;
        box-shadow: 0 0 0 1px #fff !important;
    }
    .loading .p-dialog-header {
        background: transparent !important;
    }
    .loading .p-dialog-content {
        background: transparent !important;
    }
    .loading .p-dialog-mask .p-dialog {
        box-shadow: none !important;
    }
}
.fw-bold{

    color: #BD88F2 ;
}

.car{
    color: #FF62C7;
}
.factura{
    
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .margin-movil {
        margin-top: 150px !important;
    }
    .price {
        font-size: 13px !important;
    }
    .card-body {
        padding: 0;
    }
}

.product-cart {
    object-fit: contain;
}

.gruop-total-product {
    .quantity {
        display: flex;
        align-items: center;
        border: 1px solid #000;
        border-radius: 5px;
    }
}

.list-cart {
    height: calc(100vh - 180px);
    overflow-y: auto;
}